body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DFCFBE ;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #ddd;
}

.container header {
    background-color: #88B04B; 
    padding: 10px; 
    border-radius: 8px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #fff;
}

main {
    padding: 20px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-post {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden; /* Resimlerin dışarı taşmasını engellemek için */
}

.blog-post header {
    margin-bottom: 10px;
}

.blog-post h2 {
    font-size: 1.5em;
    color: #fff;
}

.blog-post p {
    line-height: 1.6;
    color: #555;
}

.blog-post ul {
    margin: 10px 0 20px;
    padding-left: 20px;
}

.blog-post ul li {
    margin-bottom: 5px;
}

.blog-post img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px; /* Resim köşelerini yuvarlatmak için */
}

.blog-post a {
    color: #3498db;
    text-decoration: none;
}

.blog-post a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    margin-top: 40px;
    color: whitesmoke;
    background-color: #88B04B; 

}
